[submodule "external/libcontentredirection"]
	path = external/libcontentredirection
	url = https://github.com/wiiu-env/libcontentredirection.git
[submodule "external/WiiUPluginSystem"]
	path = external/WiiUPluginSystem
	url = https://github.com/wiiu-env/WiiUPluginSystem.git
[submodule "external/libnotifications"]
	path = external/libnotifications
	url = https://github.com/wiiu-env/libnotifications.git
